
.box1{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
}
.box2{
    height: 300px;
    width: 300px;
    border-radius: 20px;
     display: inline-block;
     border: 2px solid black;
      margin: 20px;
      text-align: center;
}

.box3{
    height: 300px;
    width: 300px;
    border-radius: 20px;
     display: inline-block;
     border: 2px solid black;
      margin: 20px;
      text-align: center;
}
div:hover{
    background-color:pink;
    border: 2px solid red;
}
